{% extends 'app/base.html'%}
{% load static %}
{% block content %}

<div id="content-wrapper">
   <div class="container-fluid upload-details">
      <div class="row">
         <div class="col-lg-12">
            <div class="main-title">
               <h6>Create your channel</h6>
            </div>
         </div>
      </div>
      <form action="{% url 'Create_channel' %}" method="post">
         {% csrf_token %}
         <div class="row">
            <div class="col-sm-6">
               <div class="form-group">
                  <label class="control-label">Channel Name<span class="required">*</span></label>
                  <input class="form-control border-form-control"   name="cname" type="text" >
               </div>
            </div>
            <div class="col-sm-6">
               <div class="form-group">
                  <label class="control-label">Category <span class="required">*</span></label>
                  <input class="form-control border-form-control" name="category" type="text">
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-12 text-right">
               <button type="submit" class="btn btn-success border-none">create your channel</button>
            </div>
         </div>

      </form>
   </div>
  

{% endblock %}